# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/

# Flask
instance/
.webassets-cache

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite
*.sqlite3
db.sqlite3

# Build files
dist/
build/
*.egg-info/
