{% extends 'base.html' %}{% block title %}{{title}}{% endblock %}

{% block content %} 
<!-- Contact Form -->

<div id="contactBlock" class="shadow p-3 mb-5 bg-body rounded">
    <h1 id="contactMe"> Contact Me </h1>
    <p id="contact">If you wish to contact me, please use the form below.</p>

    <p>Or you may email me directly at dustins.webs@gmail.com</p>
 

    <form id="contactForm" action="/thank-you" method="POST">

        {{ contact.hidden_tag() }}
        
        {{ contact.subject() }}


        <br><br>
     
        {{ contact.first_name(class="form-control", placeholder="First Name") }}
        <br><br>
       
        {{ contact.last_name(class="form-control", placeholder="Last Name") }}
        <br><br>
        
        {{ contact.email(class="form-control", placeholder="sample@email.com") }}
        <br><br>

        {{ contact.text(class="form-control", cols="60", rows="10", placeholder="Write your message here.") }}
        <br><br>
        {{ contact.submit(class="btn btn-secondary") }} &nbsp;&nbsp;&nbsp; <input class="btn btn-secondary" type='reset'>

    </form>
</div>

{% endblock %}