<br>
   

    <div id="footer">
        <div id="footerLogoDiv">
            <a href="{{ url_for('views.home') }}">
                <img src="{{ url_for('static', filename='images/logo/DustinWebs_logo_w300.png')}}" alt="Logo" class="footerLogo">
  
            </a>
        </div>
        <p>Thank you for visiting my website. If you have any questions or would like me to build you a website, feel
            free to <a href="{{ url_for('views.contact') }}" id="contactLink">contact me</a>. </p>
            <br>
        
    </div>