{% extends 'base.html' %}{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="shadow p-3 mb-5 bg-body rounded" id="dustinWebsPortfolio">
    <h1>DustinWebs:</h1>
    <br>
    <p>Here are some other projects that I have completed. I share these only with permission from the buyer and only for the purpose of giving examples of my work.</p>

<ul id="projectLinks">
    <li>DustinWebs</li>
    <li> <a href="www.dustinsblog.org">www.dustinsblog.org</a></li>

</ul>
    
    <!-- Links for my projects -->
    
    
    
    </div>


<div class="shadow p-3 mb-5 bg-body rounded" id="riverChromaDesigns">
    <h1>RiverChromaDesigns:</h1>

<!-- Artwork samples of Hannah's Work -->



</div>
{% endblock %} 